<div class="h-screen flex flex-col items-center bg-white px-4">

    <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-6xl mt-8">Contact Details</h2>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-16">
      <div class="flex items-center space-x-4">
        <span class="text-blue-500 text-3xl">
          <i class="fas fa-phone"></i>
        </span>
        <p class="text-gray-700 text-lg font-medium">+216 21 824 361</p>
      </div>
      <div class="flex items-center space-x-4">
        <span class="text-red-500 text-3xl">
          <i class="fas fa-envelope"></i>
        </span>
        <p class="text-gray-700 text-lg font-medium">akrambenaoun1993&#64;gmail.com</p>
      </div>
      <div class="flex items-center space-x-4">
        <span class="text-green-500 text-3xl">
          <i class="fas fa-map-marker-alt"></i>
        </span>
        <p class="text-gray-700 text-lg font-medium">Ariana, Tunisia</p>
      </div>
      <div class="flex items-center space-x-4">
        <span class="text-blue-700 text-3xl">
          <i class="fab fa-linkedin"></i>
        </span>
        <p class="text-gray-700 text-lg font-medium">Akram Ben Aoun</p>
      </div>
    </div>
  </div>
  