<div id="contact-details" class="h-screen flex flex-col justify-center items-center bg-white px-4">
  <h2 class="text-4xl sm:text-6xl font-semibold tracking-tight text-gray-900 mb-12">
    Contact Details
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 text-center sm:text-left">

    <div class="flex items-center space-x-4">
      <span class="text-blue-500 text-4xl">
        <i class="fas fa-phone"></i>
      </span>
      <p class="text-gray-800 text-xl font-medium">+216 21 824 361</p>
    </div>

    <div class="flex items-center space-x-4">
      <span class="text-red-500 text-4xl">
        <i class="fas fa-envelope"></i>
      </span>
      <p class="text-gray-800 text-xl font-medium">akrambenaoun1993&#64;gmail.com</p>
    </div>

    <div class="flex items-center space-x-4">
      <span class="text-green-500 text-4xl">
        <i class="fas fa-map-marker-alt"></i>
      </span>
      <p class="text-gray-800 text-xl font-medium">Ariana, Tunisia</p>
    </div>

    <div class="flex items-center space-x-4">
      <span class="text-blue-700 text-4xl">
        <i class="fab fa-linkedin"></i>
      </span>
      <a
        href="https://linkedin.com/in/akram-ben-aoun-638b77194"
        class="text-gray-800 text-xl font-medium hover:text-blue-700"
        target="_blank"
        rel="noopener noreferrer"
      >
        Akram Ben Aoun
      </a>
    </div>
  </div>
</div>
