/* .absolute {
    z-index: 1000;
  } */

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-color: red;
}

input.ng-invalid.ng-touched + span,
textarea.ng-invalid.ng-touched + span {
  display: block;
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}

span i {
  color: red;
  margin-right: 5px;
}

/* #contact-me form {
  max-height: 80vh;
} */

