  <div id="contact-me" class="isolate bg-white px-6 lg:px-8 relative min-h-screen py-24 flex flex-col justify-start overflow-hidden">
  <div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-start bg-black bg-opacity-50 z-1000">
    <mat-spinner></mat-spinner>
  </div>

  <div [class.blur]="isLoading">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-6xl mt-0 mb-2">Contact Me</h2>
    </div>
      <form [formGroup]="contactForm" (ngSubmit)="sendEmail()" class="mx-auto mt-8 max-w-xl sm:mt-8 overflow-auto">

      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div>
          <label for="firstName" class="block text-sm/6 font-semibold text-gray-900">First name <span style="color: red;">*</span></label>
          <div class="mt-2.5">
            <input
              id="firstName"
              formControlName="firstName"
              type="text"
              class="block w-full rounded-md border border-gray-300 bg-white px-3.5 py-2 text-base text-gray-900"
              placeholder="Your First Name"
            />
          </div>
          <div *ngIf="contactForm.get('firstName')?.touched && contactForm.get('firstName')?.invalid" class="text-red-500 text-sm mt-2">
            <span *ngIf="contactForm.get('firstName')?.errors?.['required']">First Name is required.</span>
            <span *ngIf="contactForm.get('firstName')?.errors?.['minlength']">First Name must be at least 2 characters long.</span>
          </div>
        </div>
        <div>
          <label for="lastName" class="block text-sm/6 font-semibold text-gray-900">Last name <span style="color: red;">*</span></label>
          <div class="mt-2.5">
            <input
              id="lastName"
              formControlName="lastName"
              type="text"
              class="block w-full rounded-md border border-gray-300 bg-white px-3.5 py-2 text-base text-gray-900"
              placeholder="Your Last Name"
            />
          </div>
          <div *ngIf="contactForm.get('lastName')?.touched && contactForm.get('lastName')?.invalid" class="text-red-500 text-sm mt-2">
            <span *ngIf="contactForm.get('lastName')?.errors?.['required']">Last Name is required.</span>
            <span *ngIf="contactForm.get('lastName')?.errors?.['minlength']">Last Name must be at least 2 characters long.</span>
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="subject" class="block text-sm/6 font-semibold text-gray-900">Subject <span style="color: red;">*</span></label>
          <div class="mt-2.5">
            <input
              id="subject"
              formControlName="subject"
              type="text"
              class="block w-full rounded-md border border-gray-300 bg-white px-3.5 py-2 text-base text-gray-900"
              placeholder="Subject"
            />
          </div>
          <div *ngIf="contactForm.get('subject')?.touched && contactForm.get('subject')?.invalid" class="text-red-500 text-sm mt-2">
            <span *ngIf="contactForm.get('subject')?.errors?.['required']">Subject is required.</span>
            <span *ngIf="contactForm.get('subject')?.errors?.['maxlength']">Subject cannot exceed 100 characters.</span>
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm/6 font-semibold text-gray-900">Email <span style="color: red;">*</span></label>
          <div class="mt-2.5">
            <input
              id="email"
              formControlName="email"
              type="email"
              class="block w-full rounded-md border border-gray-300 bg-white px-3.5 py-2 text-base text-gray-900"
              placeholder="Your Email"
            />
          </div>
          <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid" class="text-red-500 text-sm mt-2">
            <span *ngIf="contactForm.get('email')?.errors?.['required']">Email is required.</span>
            <span *ngIf="contactForm.get('email')?.errors?.['email']">Please enter a valid email address.</span>
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="message" class="block text-sm/6 font-semibold text-gray-900">Message <span style="color: red;">*</span></label>
          <div class="mt-2.5">
            <textarea
              id="message"
              formControlName="message"
              rows="4"
              class="block w-full rounded-md border border-gray-300 bg-white px-3.5 py-2 text-base text-gray-900"
              placeholder="Your Message"
            ></textarea>
          </div>
          <div *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid" class="text-red-500 text-sm mt-2">
            <span *ngIf="contactForm.get('message')?.errors?.['required']">Message is required.</span>
            <span *ngIf="contactForm.get('message')?.errors?.['minlength']">Message must be at least 10 characters long.</span>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <button
          type="submit"
          class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white">Send</button>
      </div>
    </form>
  </div>
</div>