# Environment variable files
.env
src/environments/environment.variables.ts

# Node modules
/node_modules

# Compiled output
/dist
/tmp
/out-tsc

# IDEs and editors
.idea/
.vscode/*

# Miscellaneous
/.angular/cache
.sass-cache/
/coverage
