<div class="h-screen flex flex-col items-center justify-center bg-white px-4">
  <div class="w-full text-center">
    
    <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-6xl mb-12">About Me</h2>

    <p class="text-xl sm:text-2xl md:text-3xl text-gray-900 max-w-3xl mx-auto">
      Hello, my name is Akram. I'm a junior full stack JavaScript developer. I have more than one year of confirmed work experience with a tech company. I'm a self-driven person with a strong attention to detail.
    </p>
  </div>
</div>
