<div id="about" class="h-screen flex items-center justify-center bg-white px-4">
  <div class="flex flex-col md:flex-row items-center w-full max-w-6xl">
    <div class="w-full md:w-72 md:h-72 flex-shrink-0 mb-6 md:mb-0 md:mr-10">
      <img
        src="assets/profile_picture.jpeg"
        alt="Profile Picture"
        class="w-full h-auto object-cover rounded-lg shadow-lg"
      />
    </div>

    <div class="text-center md:text-left w-full">
      <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-6xl mt-8">
        About Me
      </h2>
      <p class="text-2xl sm:text-3xl md:text-4xl text-gray-900 max-w-4xl mx-auto md:mx-0">
        Hello, my name is Akram. I'm a junior full stack JavaScript developer. I have more than one year of confirmed work experience with a tech company. I'm a self-driven person with a strong attention to detail.
      </p>
    </div>
  </div>
</div>