<app-navbar></app-navbar>
<app-about></app-about>
<app-contact-details></app-contact-details>
<app-experience></app-experience>
<app-skills></app-skills>
<app-education></app-education>
<app-languages></app-languages>
<app-contact-me></app-contact-me>
<!-- <app-projects></app-projects> -->
<app-footer></app-footer>

<div
  id="scrollToTop"
  class="fixed bottom-4 right-4 p-2 bg-dark-olive text-white border border-white shadow-lg cursor-pointer z-50"
  (click)="scrollToTop()"
  *ngIf="showScrollToTop"
  title="Scroll to Top"
>
  <i class="fas fa-arrow-up"></i>
</div>


