.chatbot-container {
  position: fixed;
  bottom: 16px;
  left: 20px;
  z-index: 1000;
}

.chatbot-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10%;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.chatbox {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 10px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.chat-header h4 {
  margin: 0;
}

.close-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  max-height: 300px;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-message {
  background-color: #f1f1f1;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  align-self: flex-end;
}

.bot-message {
  background-color: #e0e0e0;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  align-self: flex-start;
}

.clear-chat-btn {
  background-color: #ff8c00;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  align-self: center;
  font-size: 14px;
}

.clear-chat-btn:hover {
  background-color: #e67e00;
}
