<footer class="bg-black text-white py-4">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
    <div class="text-center md:text-left text-sm">
      &copy; <span>{{ currentYear }}</span><span class="font-extrabold"> Akram Benaoun</span> . All rights reserved.
    </div>
    
    <div class="text-sm mt-2 md:mt-0">
      Visitor Count: <span class="font-bold">{{ visitorCount }}</span>
    </div>

    <div class="flex space-x-4 mt-2 md:mt-0">
      <a href="https://linkedin.com/in/akram-ben-aoun-638b77194" target="_blank" rel="noopener noreferrer" class="hover:text-blue-400">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a href="https://github.com/akramBNA" target="_blank" rel="noopener noreferrer" class="hover:text-gray-400">
        <i class="fab fa-github fa-lg"></i>
      </a>
    </div>
  </div>
</footer>
