<div id="experience" class="h-max flex flex-col ">
    <div class="mb-20 text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-6xl mt-8">
        Experience
      </h2>
    </div>
  
    <div class="mb-20 flex-grow flex items-center justify-center relative">

      <div class="absolute top-0 left-1/2 transform -translate-x-1/2 h-full w-1 bg-gray-300"></div>
  
      <div class="relative w-full max-w-5xl space-y-12">

        <div class="flex items-start w-full">
          <div class="w-1/2 text-left pl-6">
            <h3 class="text-2xl font-bold text-gray-800">Infinitum Tech (formally Marabout Technology)</h3>
            <p class="text-lg text-gray-600">Oct 2023 - Present</p>
            <ul class="mt-2 text-gray-700 list-disc list-inside">
              <li>Full Stack JavaScript Developer</li>
              <li>Develop and maintain web applications for factory production management.</li>
              <li>Tech Stack: Angular / NodeJS / PostgreSQL</li>
            </ul>
          </div>
          <div class="w-8 h-8 bg-blue-500 rounded-full border-4 border-white flex-shrink-0"></div>
          <div class="w-1/2"></div>
        </div>
  
        <div class="flex items-start w-full">
          <div class="w-1/2"></div>
          <div class="w-8 h-8 bg-green-500 rounded-full border-4 border-white flex-shrink-0"></div>
          <div class="w-1/2 text-left pl-6">
            <h3 class="text-2xl font-bold text-gray-800">EcoClicko GameHub</h3>
            <p class="text-lg text-gray-600">Sep 2023 - Oct 2023</p>
            <ul class="mt-2 text-gray-700 list-disc list-inside">
              <li>Full Stack JavaScript Developer Intern</li>
              <li>Developed an ecological games web application for children as part of a Scrum team.</li>
              <li>Tech Stack: React / NodeJS / MySQL</li>
            </ul>
          </div>
        </div>
  
        <div class="flex items-start w-full">
          <div class="w-1/2 text-left pl-6">
            <h3 class="text-2xl font-bold text-gray-800">RebootKamp (RBK Tunisia)</h3>
            <p class="text-lg text-gray-600">Oct 2022 - Mar 2023</p>
            <ul class="mt-2 text-gray-700 list-disc list-inside">
              <li>Full Stack JavaScript Intern Developer</li>
              <li>Developed multiple web applications during a boot camp, utilizing various technologies:</li>
              <ul class="mt-2 ml-4 list-disc list-inside">
                <li>Blogging website (basic HTML/CSS/JS)</li>
                <li>Student Management System</li>
                <li>Medium Clone website</li>
                <li>TUNART: Web</li>
              </ul>
              <li>Tech Stack: JavaScript / HTML / CSS / React / NodeJS / ExpressJS / Bootstrap / Git</li>
            </ul>
          </div>
          <div class="w-8 h-8 bg-purple-500 rounded-full border-4 border-white flex-shrink-0"></div>
          <div class="w-1/2"></div>
        </div>
  
        <div class="flex items-start w-full">
          <div class="w-1/2"></div>
          <div class="w-8 h-8 bg-yellow-500 rounded-full border-4 border-white flex-shrink-0"></div>
          <div class="w-1/2 text-left pl-6">
            <h3 class="text-2xl font-bold text-gray-800">TechnoARGE</h3>
            <p class="text-lg text-gray-600">Jul 2018 - Aug 2018</p>
            <ul class="mt-2 text-gray-700 list-disc list-inside">
              <li>Intern Developer</li>
              <li>Developed a static web application integrated with an embedded systems project.</li>
              <li>Tech Stack: HTML / CSS / PHP / C / C++ / Arduino + Hardware</li>
            </ul>
          </div>
        </div>
  
        <div class="flex items-start w-full">
          <div class="w-1/2 text-left pl-6">
            <h3 class="text-2xl font-bold text-gray-800">Gölcük Municipality</h3>
            <p class="text-lg text-gray-600">Jul 2016 - Aug 2016</p>
            <ul class="mt-2 text-gray-700 list-disc list-inside">
              <li>Intern Developer</li>
              <li>Developed a static web application integrated with an embedded systems project.</li>
              <li>Tech Stack: HTML / CSS / PHP / C / C++ / Arduino + Hardware</li>
            </ul>
          </div>
          <div class="w-8 h-8 bg-red-500 rounded-full border-4 border-white flex-shrink-0"></div>
          <div class="w-1/2"></div>
        </div>
      </div>
    </div>
  </div>
  