<div id="experience" class="pt-12 pb-24 bg-white flex flex-col px-6">
  <div class="text-center">
    <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-6xl mb-16 mt-20">Experience</h2>
  </div>

  <div class="flex-grow flex items-center justify-start mb-24">
    <div class="relative w-full max-w-5xl mx-auto">

      <div class="absolute top-0 left-1/2 transform -translate-x-1/2 h-full w-1 bg-gray-300 z-0"></div>

      <div class="relative mb-12 w-full flex">
        <div class="w-1/2"></div>

        <div class="absolute left-1/2 transform -translate-x-1/2 mt-2 z-10">
          <div class="w-8 h-8 bg-orange-500 rounded-full border-4 border-white"></div>
        </div>

        <div class="w-1/2 pl-10 text-left">
          <h3 class="text-2xl font-bold text-gray-800">Freelancer [at SOHABA]</h3>
          <p class="text-lg text-gray-600">Feb 2025 - Present</p>
          <ul class="mt-2 text-gray-700 list-disc list-inside">
            <li>Freelance Full Stack JavaScript Developer</li>
            <li>Web & mobile applications for clients</li>
            <li>
              Tech Stack: Angular / React / React Native / PostgreSQL / Cypress / Playwright
            </li>
          </ul>
        </div>
      </div>

      <div class="relative mb-12 w-full flex">
        <div class="w-1/2 pr-10 text-right">
          <h3 class="text-2xl font-bold text-gray-800">Infinitum Tech (formerly Marabout Technology)</h3>
          <p class="text-lg text-gray-600">Oct 2023 - Jan 2025</p>
          <ul class="mt-2 text-gray-700 list-disc list-inside">
            <li>Full Stack JavaScript Developer</li>
            <li>Factory production management systems</li>
            <li>Tech Stack: Angular / React Native / NodeJS / PostgreSQL</li>
          </ul>
        </div>

        <div class="absolute left-1/2 transform -translate-x-1/2 mt-2 z-10">
          <div class="w-8 h-8 bg-blue-500 rounded-full border-4 border-white"></div>
        </div>

        <div class="w-1/2"></div>
      </div>

      <div class="relative mb-12 w-full flex">
        <div class="w-1/2"></div>

        <div class="absolute left-1/2 transform -translate-x-1/2 mt-2 z-10">
          <div class="w-8 h-8 bg-green-500 rounded-full border-4 border-white"></div>
        </div>

        <div class="w-1/2 pl-10 text-left">
          <h3 class="text-2xl font-bold text-gray-800">EcoClicko GameHub</h3>
          <p class="text-lg text-gray-600">Mar 2023 - Oct 2023</p>
          <ul class="mt-2 text-gray-700 list-disc list-inside">
            <li>Full Stack JavaScript Developer</li>
            <li>Ecological games web application</li>
            <li>Tech Stack: React / NodeJS / MySQL</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="text-center mb-20">
    <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-6xl mt-16">Internships</h2>
  </div>

  <div class="flex-grow flex items-center justify-start">
    <div class="relative w-full max-w-5xl mx-auto">

      <div class="absolute top-0 left-1/2 transform -translate-x-1/2 h-full w-1 bg-gray-300 z-0"></div>

      <div class="relative mb-12 w-full flex">
        <div class="w-1/2 pr-10 text-right">
          <h3 class="text-2xl font-bold text-gray-800">RebootKamp (RBK Tunisia)</h3>
          <p class="text-lg text-gray-600">Oct 2022 - Mar 2023</p>
          <ul class="mt-2 text-gray-700 list-disc list-inside">
            <li>Full Stack JavaScript Intern Developer</li>
            <li>Built multiple real-world web applications</li>
            <li>
              Tech Stack: JavaScript / HTML / CSS / React / NodeJS / ExpressJS / Bootstrap / Git
            </li>
          </ul>
        </div>

        <div class="absolute left-1/2 transform -translate-x-1/2 mt-2 z-10">
          <div class="w-8 h-8 bg-purple-500 rounded-full border-4 border-white"></div>
        </div>

        <div class="w-1/2"></div>
      </div>

      <div class="relative mb-12 w-full flex">
        <div class="w-1/2"></div>

        <div class="absolute left-1/2 transform -translate-x-1/2 mt-2 z-10">
          <div class="w-8 h-8 bg-yellow-500 rounded-full border-4 border-white"></div>
        </div>

        <div class="w-1/2 pl-10 text-left">
          <h3 class="text-2xl font-bold text-gray-800">TechnoARGE</h3>
          <p class="text-lg text-gray-600">Jul 2018 - Aug 2018</p>
          <ul class="mt-2 text-gray-700 list-disc list-inside">
            <li>Intern Developer</li>
            <li>Embedded systems + static web app</li>
            <li>Tech Stack: HTML / CSS / PHP / C / C++ / Arduino</li>
          </ul>
        </div>
      </div>

      <div class="relative mb-12 w-full flex">
        <div class="w-1/2 pr-10 text-right">
          <h3 class="text-2xl font-bold text-gray-800">Gölcük Municipality</h3>
          <p class="text-lg text-gray-600">Jul 2016 - Aug 2016</p>
          <ul class="mt-2 text-gray-700 list-disc list-inside">
            <li>Intern Developer</li>
            <li>Embedded systems + static web app</li>
            <li>Tech Stack: HTML / CSS / PHP / C / C++ / Arduino</li>
          </ul>
        </div>

        <div class="absolute left-1/2 transform -translate-x-1/2 mt-2 z-10">
          <div class="w-8 h-8 bg-red-500 rounded-full border-4 border-white"></div>
        </div>

        <div class="w-1/2"></div>
      </div>

    </div>
  </div>
</div>