<section id="languages" class="min-h-[100vh] flex flex-col items-center bg-white pt-10 px-4">
  <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl mt-8 mb-6">
    Spoken Languages
  </h2>

  <div class="flex gap-4 mb-6 mt-5">
    <button (click)="createChart('radar')" class="px-4 py-2 rounded-lg border hover:bg-gray-500"
      [class.bg-gray-600]="selectedKind === 'radar'" [class.text-white]="selectedKind === 'radar'"
      [class.border-gray-600]="selectedKind === 'radar'">
      Radar
    </button>

    <button (click)="createChart('bar')" class="px-4 py-2 rounded-lg border hover:bg-gray-500"
      [class.bg-gray-600]="selectedKind === 'bar'" [class.text-white]="selectedKind === 'bar'"
      [class.border-gray-600]="selectedKind === 'bar'">
      Vertical Bar
    </button>

    <button (click)="createChart('donut')" class="px-4 py-2 rounded-lg border hover:bg-gray-500"
      [class.bg-gray-600]="selectedKind === 'donut'" [class.text-white]="selectedKind === 'donut'"
      [class.border-gray-600]="selectedKind === 'donut'">
      Donut
    </button>
  </div>

  <div *ngIf="selectedKind !== 'donut'" class="w-full max-w-3xl px-4">
    <div class="w-full" style="height:360px;">
      <canvas id="languagesCombinedChart" class="w-full h-full"></canvas>
    </div>
  </div>

  <div *ngIf="selectedKind === 'donut'" class="grid grid-cols-2 gap-10 mt-8 place-items-center">
    <div *ngFor="let lang of labels; let i = index" class="flex flex-col items-center">
      <div class="w-[160px] h-[160px] relative">
        <canvas id="donutChart{{ i }}" class="w-full h-full"></canvas>
      </div>
      <p class="mt-4 text-xl font-semibold text-gray-800">
        {{ lang }}
      </p>
    </div>
  </div>

</section>